.container {
  width: 50%;
  margin: auto;
}

.inputBox {
  font-size: 100%;
  padding: 5%;
  width: 89%;
  background-color: rgb(228, 228, 228);
}

.plus{
    font-family: "Dosis", sans-serif;
    font-size: 250%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    font-size: 100%;
    padding: 5%;
    width: 100%;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    margin-top: 5%;
}

.resultValue {
    font-family: "Dosis", sans-serif;
    font-size: 250%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.title {
    font-family: "Dosis", sans-serif;
    font-size: 300%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
